@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
<p>For more information, see <a href="https://aka.ms/blazor">https://aka.ms/blazor</a>.</p>
<p>To help you get started, we have provided a few links below:</p>
<ul>
    <li><a href="https://docs.microsoft.com/aspnet/core/blazor/get-started">Get started with Blazor</a></li>
    <li><a href="https://docs.microsoft.com/aspnet/core/blazor/components">Blazor components</a></li>
    <li><a href="https://docs.microsoft.com/aspnet/core/blazor/routing">Blazor routing</a></li>
    <li><a href="https://docs.microsoft.com/aspnet/core/blazor/javascript-interop">JavaScript interop</a></li>
    <li><a href="https://docs.microsoft.com/aspnet/core/blazor/security">Blazor security</a></li>
    <li><a href="https://docs.microsoft.com/aspnet/core/blazor/webassembly">Blazor WebAssembly</a></li>
    <li><a href="https://docs.microsoft.com/aspnet/core/blazor/server">Blazor Server</a></li>
    <li><a href="https://docs.microsoft.com/aspnet/core/blazor/host-and-deploy">Host and deploy Blazor</a></li>
    <li><a href="https://docs.microsoft.com/aspnet/core/blazor/tutorials">Blazor tutorials</a></li>

</ul>
