<form asp-action="Create" asp-controller="Categories" method="post" class="user">
>
    <div class="form-group   mb-4">
        <label for="ParentCategory">ParentCategory</label>
        <input type="text" class="form-control" id="Title" name="ParentCategory" required>
    </div>

    <div class="form-group">
        <label for="Name">Name</label>
        <input type="text" class="form-control"  id="" name="Name" required>
    </div>

    <button type="submit" class="btn btn-success  ">Create Category</button>
</form>
