@model List<Category>


<table class="user table table-striped">
    <a asp-controller="Categories" asp-action="Create" class="btn btn-danger mb-3" id="linkId">
    Add Category
</a>

    <thead class="table-header">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Parent Category</th>
        </tr>
    </thead>
    <tbody class="table-body table-bordered table-striped">
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.Id</td>
                <td>@category.Name</td>
                <td>@category.ParentCategory</td>
            </tr>
        }
    </tbody>
</table>
